<div class="blog_item">
	<div class="blog_header">
		<a href = "#">
			<img class="blog_photo" src="{{img}}" width="380" alt="">
		</a>
		<div class="blog_date">
			<b>{{day}}</b> {{month}}
		</div>
	</div>
				
	<div class="blog_content">
		<div class="blog_title">
			<div>{{title}}</div>
		</div>
		<div class="blog_text">{{text}}</div>
		</div>
				
		<div class="blog_footer">
			<a href="#">Подробнее...</a>
			<a href="https://www.instagram.com/alenavski"><img src="Images/inst.png" width="20" alt=""></a>
			<a href="https://www.instagram.com/alenavski"><img src="Images/fcb.png" width="20" alt=""></a>
			<a href="https://www.instagram.com/alenavski"><img src="Images/twt.png" width="20" alt=""></a>
			<a href="https://www.instagram.com/alenavski"><img src="Images/ggl.png" width="20" alt=""></a>
		</div>
</div>