<div class="col-md-3">
	<div class="card">
		<h3>{{name}}</h3>
		<img src="{{img}}" alt="">
		<h4>{{price}} руб.</h4>
		<h4>Количество {{num}}</h4>
		<a href="../Cart.php?name={{name}}&price={{price}}&img={{img}}&height={{height}}&weight={{weight}}&base={{base}}&filling{{filling}}&type=Add">
		<button>Добавить в корзину</button>
		</a>
	</div>
</div>