<nav class="nav">
	<a class="nav_link active" href="#">{{active_name}}</a>
	<a class="nav_link" href="{{item1}}">{{not_act1}}</a>
	<a class="nav_link" href="{{item2}}">{{not_act2}}</a>
	<a class="nav_link" href="{{item3}}">{{not_act3}}</a>
	<a class="nav_link" href="{{item4}}">{{not_act4}}</a>
</nav>